
h1, h2{

   text-align: center;

}


.container{

   
   max-width: 100%;
   display: flex;
   padding-left: 15em;
   padding-right: 15em;
     

}

.div1{

   margin: 2em;
   padding: 2em;
   flex-basis: 33%;
   border: 4px dashed red ;
   float: left;
   padding-bottom: 230px;
}


.div2{

   margin: 2em;
   padding: 2em;
   flex-basis: 67%;
   border: 4px dashed red ;
   float: right;
   
}

.image1{

   padding: 5px;
   width: 200px;
   float: right;
   text-align: justify;

}

