*{
   margin: 0%;
   padding: 10px;
   font-family: 'Times New Roman', sans-serif;  
   
}


header{
   text-align-last: center;
   margin-top: 5px;
   margin-bottom: 20px;
   margin-left: 5px;
   margin-left: 5px;

}

.container{
   margin: 15px 15px;
   width: 100%;
   padding: 8px;
}

img{
   float: left;
   width: 400px;
   height: 300px;
   padding-left: 10px;
   padding-right: 55px;
   padding-bottom: 25px;

}

.span1{
   font-weight: bold;
   color: red;
}

.text{
   text-align: justify;
   text-overflow: inherit;
   letter-spacing: 1px;
   word-spacing: 1px;
   margin-top: 35px;
   max-width: 90%;
   

}

h2{

   width: max-content;

}
hr{
   display: solid;
   margin-top: auto;
   margin-bottom: auto;
   border: 0.5 0.5px;
   border-bottom: 0ch;
   

}

table{
   width: 100%;
   margin: 0%;
   background: none;
   border-collapse: collapse;

}

td, th{
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: darkgrey;
}

ul{
   margin-left: 1em;
}

a:hover{
   color: red;
   cursor: pointer;
   margin: auto;
     
}

footer{
   text-align: center;
}
